header {
  position: fixed;
  width: 100%;
  margin-top: -5em;
}

.main-content {
  margin-top: 5em;
}


.hide {
  display: none
}

.menu-icon {
  width: 5%;
  text-align: left;
}

@media screen and (min-width: 500px) {
  header {
    padding: 0 10%;
    margin-top: -6em;
  }

  h1 {
    font-size: 3em;
  }

  .main-content img {
    float: left;
    width: 50%;
  }

  .about, #project-display {
    margin-top: 6em;
  }

  .menu-icon {
    display: none;
  }

  .nav-bar li {
    display: inline-block;
  }

  .hide {
    display: block;
  }
}
