header {
  position: fixed;
  width: 100%;
  margin-top: -5em;
}

.hidden {
  display: none;
}

.about, #project-display {
  margin-top: 5em;
}

.about img {
  float: left;
  width: 50%;
}

.menu-icon {
  width: 5%;
  text-align: right;
}

@media screen and (min-width: 500px) {
  header {
    padding: 0 10%;
    margin-top: -6em;
  }

  h1 {
    font-size: 3em;
  }


  .about, #project-display {
    margin-top: 6em;
  }

  .menu-icon {
    display: none;
  }

  .hidden {
    display: inline-block;
  }

}
