header {
  background-color: lightblue;
}

.main-content {
  background: #AFBE77;
}

.main-content p {
  font-size: 1.6em;
}

.project-view {
  border: 2px solid black;
}

.nav-bar a {
  font-size: 1.9em;
  border: 1px solid black;
}

.github a {
  font-size: 1.5em;
  font-weight: bold;
}

.github {
  margin-top: 2em;
}
